.input {
    display: flex;
    width: 90%;
    max-width: 600px;
    position: relative;
    align-items: center;
}
.input-box {
    width: 100%;
    border-radius: 30px;
    /* border-bottom-left-radius: 30px; */
    height: 70px;
    padding: 0px 30px;
    border: none;
    background: #eee;
    /* transition: all 5s; */
    color: black;
    font-size: 24px;
    vertical-align: middle;
}
.input-box:focus {
    bottom: none;
    outline: none;
    background: #fff;
}
::placeholder {
    color: black;
    font-size: 24px;
    vertical-align: middle;
}
.input button {
    top: 10px;
    right: 10px;
    border-radius: 50%;
    position: absolute;
    height: 50px;
    width: 50px;
    border: none;
    cursor: pointer;
    background: linear-gradient(to left, rgb(76, 103, 212), rgb(32, 30, 30));
    /* border-top-right-radius: 30px; */
    /* border-bottom-right-radius: 30px; */
    color: #eee;
    transition: all 0.8s;
}

.input button:active {
    transform: scale(0.5);
}
.input button:hover {
    background: rgb(76, 103, 212);
}